Repository joshyorko/dudleys-second-bedroom: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-packages, validate-modules

.pre-commit-config.yaml:

# Pre-commit hooks for Dudley's Second Bedroom
# See https://pre-commit.com for more information
# Install: pip install pre-commit && pre-commit install

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        args: [--unsafe]
      - id: check-json
      - id: check-added-large-files
        args: [--maxkb=5000]
      - id: check-merge-conflict
      - id: check-executables-have-shebangs
      - id: mixed-line-ending
        args: [--fix=lf]

  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.9.0.6
    hooks:
      - id: shellcheck
        args: [-x, -e, SC1091]
        exclude: ^\.specify/

  - repo: https://github.com/scop/pre-commit-shfmt
    rev: v3.7.0-4
    hooks:
      - id: shfmt
        args: [-w, -i, "0", -ci]

  - repo: local
    hooks:
      - id: validate-packages
        name: Validate packages.json
        entry: bash -c 'jq empty packages.json'
        language: system
        files: packages\.json$
        pass_filenames: false

      - id: validate-modules
        name: Validate module headers
        entry: bash tests/validate-modules.sh
        language: system
        files: build_files/.*\.sh$
        pass_filenames: false

Preserve DX image metadata in runtime checks
  Justfile
  build_files/shared/00-image-info.sh
  system_files/shared/usr/share/ublue-os/just/60-dudley.just
  tests/run-all-tests.sh
  tests/test-image-info.sh
  tests/verify-build.sh
Due: validate-modules

Preserve DX image metadata in runtime checks (#170)
  Justfile
  build_files/shared/00-image-info.sh
  system_files/shared/usr/share/ublue-os/just/60-dudley.just
  tests/run-all-tests.sh
  tests/test-image-info.sh
  tests/verify-build.sh
Due: validate-modules

Add Dudley terminal shortcut dconf defaults
  build_files/desktop/dconf-defaults.sh
  system_files/shared/etc/dconf/db/distro.d/99-dudley-terminal-keybindings
  tests/verify-build.sh
Due: validate-modules

Add Dudley terminal shortcut dconf defaults (#171)
  build_files/desktop/dconf-defaults.sh
  system_files/shared/etc/dconf/db/distro.d/99-dudley-terminal-keybindings
  tests/verify-build.sh
Due: validate-modules

feat: bake Google Chrome into image
  packages.json
  system_files/shared/etc/yum.repos.d/google-chrome.repo
  tests/verify-build.sh
Due: validate-packages

feat: bake Google Chrome into image (#175)
  packages.json
  system_files/shared/etc/yum.repos.d/google-chrome.repo
  tests/verify-build.sh
Due: validate-packages

feat: add logic to remove existing Google Chrome installation before reinstalling
  build_files/shared/package-install.sh
Due: validate-modules

fix: handle chrome install on symlinked opt
  build_files/shared/package-install.sh
Due: validate-modules

chore: deprecate legacy Dudley image
  .github/workflows/build.yml
  .github/workflows/validate-renovate.yml
  README.md
Due: none

Change cleanup job to delete images older than 1 day
  .github/workflows/clean.yml
Due: none

fix: avoid orphaned GHCR cleanup failures
  .github/workflows/README.md
  .github/workflows/clean.yml
Due: none

fix: pin GHCR cleanup 404 fix
  .github/workflows/clean.yml
Due: none

chore: trigger cleanup dispatch workaround
  .github/workflows/clean.yml
Due: none

chore: temporarily trigger cleanup on push
  .github/workflows/clean.yml
Due: none
